<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>AddPerson</title>
</head>
<body>
<h1> PERSON ADD: <span th:text="${person.name}"></span> - AGE  <span th:text="${person.age}"></span></h1>

</body>
</html>